# extention file remove
#ignore all files in each directory
*/*
#unignore .c files in each director
!*/*.c
!*/*.cpp
#unignore .h header files in each directory
# !*/*.h
#unignore .gitignore
!.gitignore 

Exam practice
.vscode